<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!-- form -->
    <form action="submit" method="post">

        <!--
      This component uses @tailwindcss/forms
    
      yarn add @tailwindcss/forms
      npm install @tailwindcss/forms
    
      plugins: [require('@tailwindcss/forms')]
    -->

        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-lg">
                <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
                    Thank you for registering
                </h1>



            </div>
        </div>


    </form>


</body>

</html>